:root {
  /*цвет основного текста #757575*/
  --primary-text-color: #757575;
  /* вторичный цвет  #212121 */
  --title-text-color: #212121;
  /* акцент #2196F3*/
  --accent-color: #2196f3;
  /* ==== белый цвет ======= */
  --primary-white-color: #ffffff;

  --main-font: 'Roboto', sans-serif;

  --secondary-font: 'Raleway', 'Oleo Script', sans-serif;
}
/* ============ body ========== */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
}
/* *,
      ::after,
      ::before {margin: 0; padding: 0;}
       */
/* ul {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  list-style: none;
} */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
img {
  display: block;
}

 .container { 
  width: 1600px; 
  margin: 0 auto;
} 

/* ================ Heder ==================== */
.page-header .container{
    display: flex;
    align-items: center; 
    /* width: 1600px; 
    margin: 0 auto; */
   
  
}
.page-header .logo {
  margin-right: 93px;

}
.nav {
  display: flex;
  align-items: center;
}

 .logo {
  
  display: block;
  width: 145px;
  margin-left: 215px;
  border: 0px;
  padding: 0px;
}  
/* display: flex; */
 .nav-list {
  display: flex;
   /* border: 0px;
  padding: 0px;  */
} 
.nav-list-item:not(:last-child) {
  margin-right: 50px;

}
.page-header .address {
  /* display: flex;*/
  margin-left: auto;
}
 
 .address-list {
  display: flex;
   margin-right: 215px; 
   border: 0px;
  padding: 0px; 
}
.address-list-item:not(:last-child)
 {margin-right: 50px;

} 
/* =========logo========== */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-web {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/* =========logo end ========== */

/* ============ site-nav ============ */
 .nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none; 
}
.link-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.link-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

 .nav-list .link:hover,
 .nav-list .link:focus {
  color: var(--accent-color);
} 

  .nav-list .link.current {
   color: var(--accent-color);
} 
/* ============ site-nav end ============ */

/* ================ Heder end ==================== */

/* =========== hero ============== */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
/* =========== hero end ============== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: imset(100%);
  clip: rect(0 0 0 0);
}
/*== приемущества и особенности skill =====*/
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ============ end sill =========== */

/* =====--Примеры работ--====== */
.section-title-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* =====--Примеры работ end--====== */

/* ========== команда team ========== */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* =====-- команда team end--====== */

/* =========-- Футер --=========== */
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  /* color: #FFFFFF;  */
}

/* .list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF; */
}
.list-item-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.6); */
}
.list-item-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.6); */
}

/* =========-- Футер end --=========== */

/* ==============WORK=========== */
.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.navigation-list-link.current {
  color: var(--accent-color);
}
